/* google poppins font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
hr{
    border: 1px solid #D1D1D1;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    height: 679px;
    border-radius: 5px;
    padding: 30px;

}
.top-player{
    margin-bottom: 30px;
}
.section-header{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;


}
/* Top players style  */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    
}
.player{
    display: flex;

}
.player img{
    width: 56px;
    height: 56px;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/*---------
 Blog style
 --------- */
 .blogs{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-row-gap: 26px;
 }

.blog{
    display: flex;
    justify-content: center;
}

.blog-photo img{
    width: 177px;
    height: 117px
}
.blog-details{
    margin-left: 16px;
}
.blog-details h3{
        margin-bottom: 6px;
}
.blog-details p{
        margin-top: 0px;
}